  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/main">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chef d'orchestre
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/save">Enregistrer un chef d'orchestre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/get">Afficher les chef d'orchestres</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Concert
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/save">Enregistrer un concert</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/get">Afficher les concerts</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Lieu
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/save">Enregistrer un lieu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/get">Afficher les lieux</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Oeuvre
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/save">Enregistrer une oeuvre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/get">Afficher les oeuvres</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Soliste
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/save">Enregistrer un soliste</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/main/acteur/get">Afficher les solistes</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>